---
import { validateLang } from '~/i18n/utils'
import { getCachedImage } from '~/utils/createImage'
import type { OGImageOptions } from '~/utils/createImage'

export type Props = PropsArticle | PropsWebsite

interface PropsWebsite {
  title: string // 60 chars
  description: string // 160 chars
  type: 'website' // website or article
  twitter: string // declare the twitter handle
  image: ArrayBuffer // image that will be used as base for generating other images
}

interface PropsArticle {
  title: string // 60 chars
  description: string // 160 chars
  type: 'article' // website or article
  author: string // name of the author
  twitter: string // declare the twitter handle
  image: ArrayBuffer // image that will be used as base for generating other images
  publishedDate: Date
  modifiedDate: Date
}

const { title, description, twitter, type, author, rss, image, publishedDate, modifiedDate } = Astro.props as Props

const { lang } = Astro.params
validateLang(lang)

const width = 1200
const height = 630

const options: OGImageOptions = type === 'website'
  ? { title, description, image, width, height }
  : {
      title,
      description,
      image,
      date: publishedDate,
      dateFormat: lang,
      author,
      width,
      height
    }

const imageHref = await getCachedImage({ description: '', title: '', image })
---
<title>{title}</title>
<meta property="og:title" content={title}/>
<meta name="twitter:title" content={title}/>

<meta name="description" content={description}/>
<meta property="og:description" content={description}/>
<meta name="twitter:description" content={description}/>

<meta property="og:image" content="..."/>
<meta property="og:image:type" content="image/png"/>
<meta property="og:image:width" content="..."/>
<meta property="og:image:height" content="..."/>
<meta property="og:image:alt" content="..."/>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content={twitter}>
<meta name="twitter:creator" content={twitter}>
<meta name="twitter:title" content={title}>
<meta name="twitter:description" content={description}>
<meta name="twitter:image" content="..."/>

<meta property="og:type" content={type}/>

<!-- if article -->
{type === 'article'
  ? (
<meta name="author" content={author}/>
<meta property="article:published_time" content={publishedDate}/>
<meta property="article:modified_time" content={modifiedDate}/>
<meta property="article:author" content={author}/>
    )
  : <></> }
